body, #root {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #2F4858;
  color: #CB8589;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden !important;
  /* Only scroll vertically when content exceeds viewport */
  overflow-y: auto;
}
